@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(images/background.png) no-repeat center;
    background-size: cover;
}

#home {
    max-height: 100vh;
    height: 100%;
}

nav {
    height: 70px;
    background-color: transparent;
}

.nav-items {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 50px;
}

.nav-items-first-part a {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Sigmar", sans-serif;
    color: cyan;
    text-transform: uppercase;
}


.nav-items-second-part a {
    padding: 2px 10px;
    color: white;
    font-size: 18px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition: border-bottom .1s;
    -o-transition: border-bottom .1s;
    transition: border-bottom .1s;
}

.nav-items-second-part .active {
    color: cyan;
    font-weight: bold;
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

.nav-items-second-part a:hover {
    color: cyan;
    font-weight: bold;
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

.menu-icon {
    font-size: 30px;
    color: cyan;
    cursor: pointer;
    display: none;
}

main {
    height: calc(100vh - 130px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 500px;
    border: 2px solid cyan;
}

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
    height: 500px;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.slide-content {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.zero-slide {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
}

.zero-slide h3 {
    color: whitesmoke;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 800;
}

.zero-slide h1 {
    color: cyan;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Sigmar", sans-serif;
}

.zero-slide h2 {
    color: rgb(180, 171, 171);
    letter-spacing: 1px;
    font-size: 18px;
}

.zero-slide p {
    color: rgb(180, 171, 171);
}

.zero-slide button {
    padding: 5px 40px;
    border: 1px solid cyan;
    font-size: 18px;
    color: white;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.zero-slide button a {
    color: white;
}

.zero-slide button:hover {
    background-color: cyan;
    color: black;
}

.slider-button button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: cyan;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.first-slide img {
    height: 100%;
    width: 100%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    background: black;
    color: white;
}

footer .content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer h3 {
    letter-spacing: 2px;
}

@media (max-width: 896px) {
    nav {
        min-height: 70px;
        background-color: transparent;
    }

    .menu-icon {
        display: block;
    }


    .nav-items-second-part {
        display: none;
    }

    .nav-items-first-part.hidden {
        display: none;
    }

    .nav-items-second-part.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: black;
        height: 150px;
        margin-top: 100px;
        z-index: 1;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-items-second-part a {
        width: 100%;
        text-align: center;
    }

}

@media (max-width : 716px) {
    .slider-container {
        border: none;
        padding: 0;
        margin: 0;
        height: auto;
    }

    .slider {
        margin: 0;
        padding: 0;

    }

    .zero-slide {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .zero-slide .second-part {
        margin-right: 15px;
    }

    .zero-slide .first-part {
        margin-right: 20px;
    }

    .zero-slide h1 {
        line-height: 38px;
        margin: 10px 0px;
    }

    .zero-slide .second-part img {
        max-height: 300px;
        height: 100%;
        width: auto;
        margin-top: 20px;
    }

    footer h3 {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: .1px;
    }
}